html {
	font-size: 100%;
}

body {
	background-color: #EEE;
	box-sizing: border-box;
	color: #444;
	font-size: 1em;
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

.container {
	background-color: #0074e4;
	border-radius: 4px;
	font-size: 0.750em;
	line-height: 1.5em;
	margin: 100px auto;
	padding: 20px;
	width: 50%;
	min-width: 600px;
}

.container .input-label {
	color: #FFF;
	display: block;
	font-size: 1.125em;
	font-weight: bold;
}

.container .radio-label-container {
	padding: 1em 0;
}

.container .radio-label {
	box-sizing: border-box;
	color: #FFF;
	font-size: 1.125em;
	margin: 0 2em;
}

.container .radio-label input {
	background-color: #0074e4;
	box-sizing: border-box;
	margin: 0 0 0 1em;
	vertical-align: middle;
}

.container input[type='text'] {
	border: 1px solid #EEE;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #FFF;
	color: #333;
	display: block;
	margin: 1em 0;
	padding: 1em;
	width: 100%;
}

.container .continue {
	background-color: #74c005;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	color: #FFF;
	display: block;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	width: 50%;
}

.container .continue:hover {
    background: -webkit-linear-gradient(#74c005, #68AD04); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#74c005, #68AD04); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#74c005, #68AD04); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#74c005, #68AD04); /* Standard syntax (must be last) */
}